
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are permissive and are not secure.
    // They are intended for development purposes only.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
