@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 170 60% 61%;
    --primary-foreground: 222 47% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 35 67% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 170 60% 61%;
    --chart-1: 170 60% 61%;
    --chart-2: 35 67% 46%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 170 60% 61%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 170 60% 61%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 40% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 40% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 170 60% 61%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 35 67% 46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 170 60% 61%;
    --chart-1: 170 60% 61%;
    --chart-2: 35 67% 46%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 40% 13%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 170 60% 61%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 20%;
    --sidebar-ring: 170 60% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
